* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.scrollbar-box {
    height: 321vh;
}

img {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.label {
    width: 40vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    opacity: 0;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    margin-bottom: 2rem;
}

p {
    font-weight: 300;
    margin-bottom: 1rem;
}

.box-link {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.box-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.5s;
}

.box-link-64 {
    left: 37vw;
    top: 55vh;
}


.box-link-93 {
    right: 24vw;
    top: 65vh;
}

.box-link-125 {
    right: 13vw;
    top: 43vh;
}