* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.scrollbar-box {
    height: 330vh;
}

img {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.label {
    width: 40vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    opacity: 0;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    margin-bottom: 2rem;
}

p {
    font-weight: 300;
    margin-bottom: 1rem;
}